:root{
    --principal: #232124; 
    --secundario: #100f12;
    --letraPrincipal: #eee;
    --letraSecundaria: #fff;
    --contraste: #c33;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--principal);
}

body * {
    transition: 0.3s;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h2 {
    color: var(--contraste);
}

table,
td {
    border: 1px solid rgb(114, 113, 113);
    color:rgb(231, 223, 223)
   }

th,
tfoot {
    background-color: rgb(114, 116, 119);
    color: rgb(240, 230, 230);
    }

nav {
    border-bottom: 1px solid rgb(107, 106, 106);
    color:rgb(107, 106, 106)
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    color: rgb(209, 198, 198);
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

.form-container{
    background-color: var(--secundario);
    width:600px;
    max-width: 60%;
    border: 1px solid var(--letraPrincipal);
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}

.form-container p{
    color: var(--letraSecundaria);
}

.form-input{
    background-color: var(--principal);
    margin-bottom: 20px;
    padding: 10px;
    width: 70%;
    border: 0px solid;
    border-radius: 10px;
}
.form-button{
    background-color: var(--contraste);
    color: var(--letraPrincipal);
    padding:12px;
    margin: 40px 0px 10px 0px;
    border-radius: 10px;
    border: 0px;
}

.radio {
    color: var(--letraSecundaria);
}

a {
    color: var(--letraSecundaria);
}