
.menu-button{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right:10%;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-button:hover{
    transform: scale(1.3);    
}
.menu-display{
    z-index: 10;
    display: flex;
    margin: 0 auto;
    padding: 20px;
    width:300px;
    max-width: 40%;
    align-self:center;
    justify-content:center;
    flex-direction: column;
    position: relative;
    bottom: 50% ;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(4px);
    overflow: hidden;
    transition: height 0.3s;
}

.menu-item{
    color: #fff;
    width:100%;
    display: flex;
    border-radius:20px;
    align-items: center;
    justify-content: center;
    padding: 0.5;
    height:50px;
    text-decoration: none;
}
.menu-item:hover{
    background-color: rgba(45,45,45,0.5);
}
